*.pyc
.vscode
.vs
.idea
venv/
dinamics/__pycache__/piece.cpython-38.pyc
dinamics/__pycache__/piece.cpython-38.pyc
dinamics/__pycache__/constants.cpython-38.pyc
dinamics/__pycache__/__init__.cpython-38.pyc
dinamics/__pycache__/constants.cpython-38.pyc
dinamics/__pycache__/piece.cpython-38.pyc
dinamics/__pycache__/piece.cpython-38.pyc
